<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Finite Difference Stencil Calculator</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Get and set text -->
    <script type=text/javascript>
      $(function() {
        $('#stencil_points').keyup( function() {
          $.getJSON('/background_process', {
            points_string: $('input[name="points_string"]').val(),
            derivative_string: $('input[name="derivative_string"]').val(),
          }, function(data) {
            document.getElementById("latex_stencil").innerHTML = data.latex_str;
            document.getElementById("code_stencil").innerHTML = data.code_str;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "latex_stencil"]);
          });
          return false;
        });
      });
    </script>
    <script type=text/javascript>
      $(function() {
        $('#stencil_dim').keyup( function() {
          $.getJSON('/background_process', {
            points_string: $('input[name="points_string"]').val(),
            derivative_string: $('input[name="derivative_string"]').val(),
          }, function(data) {
            document.getElementById("latex_stencil").innerHTML = data.latex_str;
            document.getElementById("code_stencil").innerHTML = data.code_str;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "latex_stencil"]);
          });
          return false;
        });
      });
    </script>
    <script type=text/javascript>
      $(function() {
        $(document).ready( function() {
          $.getJSON('/background_process', {
            points_string: $('input[name="points_string"]').val(),
            derivative_string: $('input[name="derivative_string"]').val(),
          }, function(data) {
            document.getElementById("latex_stencil").innerHTML = data.latex_str;
            document.getElementById("code_stencil").innerHTML = data.code_str;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "latex_stencil"]);
          });
          return false;
        });
      });
    </script>
  </head>
  <body style="background-color:#366A91">
      <h4><br/></h4> 
    <!-- Form -->
    <div class='container' style="color:#6F6F6F;background-color:#FFFFFF;border-radius:10px">
      
      <div class="header">
        <h2>Finite Difference Stencil Calculator</h2>
        <small>By William Davis</small>
      </div>
      <br>
      <form>
        <div class="form-group">
          <h4> Locations of Sampled Points</h4>
          <input id="stencil_points" type="text" value="-2,-1,0,1,2" placeholder="e.g. -2,-1,0,1,2" name="points_string" autocomplete="off"/>
        </div>

        <div class="form-group">
          <h4> Derivative order</h4>
          <input id="stencil_dim" type="text" value="2" placeholder="e.g. 2" name="derivative_string" autocomplete="off"/>
          <br>
        </div>
      </form>
      
      <h4> Finite Difference Equation </h4>
      <span id=latex_stencil></span>
      
      <h4> Julia Code </h4>
      <pre>
        <p id=code_stencil></p>
      </pre>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          How it works
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          In an attempt to learn the basics of making web applications, I decided to try and replicate Cameron Taylor's <a href="http://web.media.mit.edu/~crtaylor/calculator.html">"Finite Difference Coefficients Calculator"</a>. This is an algorithmic method for calculating the form of <a href="https://en.wikipedia.org/wiki/Finite_difference#Higher-order_differences">higher order derivative approximations</a> for use in numerically solving <a href="https://en.wikipedia.org/wiki/Finite_difference">ordinary and partial differential equations</a>.
          <br>
          <br>
          The method works by calculating Taylor series coefficients of the function and its derivatives at each sample point, then matrix algebra is used to determine the unknown coefficients of the stencil. In the original example the matrix algebra is calculated with floating point operations, then the stencil coefficients are determined by continued fraction truncation. In my implementation I defined matrix algebra methods with rational numbers, using <a href="https://github.com/williamjsdavis/RationalAlgebra">rationalalgebra.py</a>. That way the stencil coefficients can be calculated without approximation.
          <br>
          <br>
          This site is <a href="https://github.com/williamjsdavis/finite-difference-calculator">open source</a>.
        </div>
      </div>
    </div>
    <h1><br/></h1>
  </body>
</html>
