<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Finite Difference Stencil Calculator</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Get and set text -->
    <script type=text/javascript>
      $(function() {
        $('#stencil_points').keyup( function() {
          $.getJSON('/background_process', {
            points_string: $('input[name="points_string"]').val(),
            derivative_string: $('input[name="derivative_string"]').val(),
          }, function(data) {
            document.getElementById("latex_stencil").innerHTML = data.latex_str;
            document.getElementById("code_stencil").innerHTML = data.code_str;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "latex_stencil"]);
          });
          return false;
        });
      });
    </script>
    <script type=text/javascript>
      $(function() {
        $('#stencil_dim').keyup( function() {
          $.getJSON('/background_process', {
            points_string: $('input[name="points_string"]').val(),
            derivative_string: $('input[name="derivative_string"]').val(),
          }, function(data) {
            document.getElementById("latex_stencil").innerHTML = data.latex_str;
            document.getElementById("code_stencil").innerHTML = data.code_str;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "latex_stencil"]);
          });
          return false;
        });
      });
    </script>
    <script type=text/javascript>
      $(function() {
        $(document).ready( function() {
          $.getJSON('/background_process', {
            points_string: $('input[name="points_string"]').val(),
            derivative_string: $('input[name="derivative_string"]').val(),
          }, function(data) {
            document.getElementById("latex_stencil").innerHTML = data.latex_str;
            document.getElementById("code_stencil").innerHTML = data.code_str;
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "latex_stencil"]);
          });
          return false;
        });
      });
    </script>
  </head>
  <body>
      
    <div class="header">
      <h2>Finite Difference Stencil Calculator</h2>
      <small>By William Davis</small>
    </div>

    <!-- Form -->
    <div class='container'>
      <form>
        <div class="form-group">
          <label for="Number One">Locations of sampled points</label>
          <input id="stencil_points" type="text" value = "-2,-1,0,1,2" placeholder="e.g. -2,-1,0,1,2" name="points_string" />
        </div>

        <div class="form-group">
          <label for="Number Two">Derivative order</label>
          <input id="stencil_dim" type="text" value="2" placeholder="e.g. 2" name="derivative_string" />
        </div>
      </form>
      
      <h4> Finite Difference Equation </h4>
      <span id=latex_stencil></span>
      
      <h4> Julia Code </h4>
      <pre>
        <p id=code_stencil></p>
      </pre>
    </div>

  </body>
</html>
